*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

p{
    margin: 0;
}

////////// 백그라운드 //////////
.section{
    background-repeat: repeat-x;
    position: relative;
}

.sec1{
    background: url('/boot3/public2/image/bg/bg01_01.jpg');
}

.sec2{
    background: #c2e8ff;
}

.sec3{
    background: #ddffc2;
    margin-top: -5%;
}


////////// top //////////
.total_top .topImg{
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 0;
    width: 100%;
}
.topImg_air{
    background: url('/boot3/public2/image/top/airplane.png');
    padding-bottom: 15%;
    right: 0;
    top: 0;
    transform: translate(20%, 60%);
}
.topImg_tree{
    background: url('/boot3/public2/image/top/tree.png');
    left: 0;
    top: 0;
    padding-bottom: 25%;
    transform: translate(10%, 42%);
}

.topImg_hands{
    position: relative;
    background: url('/boot3/public2/image/top/hands.png');
    padding-bottom: 95%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-top: 10%;
}

.topImg_cloud{
    background: url('/boot3/public2/image/top/cloud.png') no-repeat;
    background-position: center top;
    background-size: auto 100%;
    padding-bottom: 20%;
    height: 0;
    width: 100%;
    top: 0;
    transform: translateY(13%);
}

////////// 중간 //////////
.wav{
    background: url('/boot3/public2/image/middle/bg_wave_05.png') repeat-x;
    background-size: auto 100%;
    height: 0;
    width: 100%;
    padding-bottom: 1.2%;
    top: -1vw;
}

.middle_Box{
    border: 2px solid black;
    border-radius: 15px;
    background: white;
}
.alert_Alarm{
    width: 20vw;
    height: 20vw;
    max-width: 120px;
    max-height: 120px;
}

.alert_Alarm::before{
    content: "";
    position: absolute;
    background: #edc5ff;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.alert_Img{
    position: relative;
    background: url(/boot3/public2/image/middle/alarm_mini.png) no-repeat;
    background-position: center;
    background-size: 65%;
    height: 0;
    width: 100%;
    padding-bottom: calc(91 / 85 * 100%);
}

.ImgBox{
    padding: 8% 0;
}

.textBox{
    border-top: 2px solid #c7c4c5;
}

.textOK{
    border-left: 2px solid #c7c4c5;
}

.human{
    background-image: url('/boot3/public2/image/middle/human.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 0;
    padding-bottom: calc(753 / 1432 * 100%);
    left: -6%;
    top: 0;
    margin-top: -8%;
    z-index: 1;
}

.alarmStage{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}


.stageText{
    padding: 19% 8% 5% 49%;
}

@media(max-width:1024px){
    .alarmStage .stageText .stageText_p{
        font-size: 1rem;
    }
}




@media (min-width: 1025px)and(max-width: 1119px){
    .stageBox{
        transform: translateY(-25%);
    }
}

@media (min-width: 820px)and(max-width: 1024px){
    .stageBox{
        transform: unset;
    }
    .stageBox .boxOne{
        max-width: 120px;
        max-height: 120px;
    }
}

@media (min-width: 768px)and(max-width: 819px){
    .stageBox{
        transform: translateY(-25%);
    }
    .stageBox .boxOne{
        max-width: 120px;
        max-height: 120px;
    }
}



.One{
    border: 5px solid #40b7ff;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.oneImg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 46%;
    height: 0;
    margin: auto;
    padding-bottom: calc(61 / 71 * 100%);
}
.oneImg1{
    background-image: url('/boot3/public2/image/middle/login.png');
    
}
.oneImg2{
    background-image: url('/boot3/public2/image/middle/allarm.png');

}
.oneImg3{
    background-image: url('/boot3/public2/image/middle/sms.png');

}

.oneText{
    margin-top: -12%;
}

.boxOne{
    width: 20vw;
    height: 20vw;
    max-width: 150px;
    max-height: 150px;
    min-width: 80px;
    min-height: 80px;
    padding: 0;
}

.boxOne_text>span{
    color: #70c9ff;
}

.oneText>b>p{
    color: #009efe;
}

.boxOne_text{
    padding: 0 2%;
}

@media(max-width:767px){
    .alarmStage{
        position: static;
    }
    .alarmStage .stageText{
    padding: 10% 0 5% 0;
    text-align: center;
    }
    .oneText>b>p{
        font-size: 0.8rem;
        padding: 20% 0;
    }
}

////////// section3 //////////

.SW{
    padding-top: 10rem;
    padding-bottom: 10rem;
    .swiper-slide{
        .sec3_Box{
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: #00db92;
                transform: translate(5%, 5%);
                border: 2px solid black;
                border-radius: 30px;
            }
            .white_box{
                background-color: white;
                border: 2px solid black;
                border-radius: 30px;
                .whiteImg{
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                    width: 100%;
                    height: 0;                
                    left: 0;
                    top: 0;
                    padding-bottom: 100%;
                }
                p{
                    font-family: 'GmarketSansBold';
                    color: #828282;
                    text-align: center;
                    }
                }
            }
        .step{
            background-image: url('/boot3/public2/image/end/step_buble.png');
            background-repeat: no-repeat;
            background-size: 100%;
            width: 30%;
            height: 0;
            padding-bottom: calc(147 / 144 * 100%);
            left: 0;
            top: 0;
            transform: translate(-46%, -13%);
            z-index: 1;
            p{

            }
        }
    }
}

#whiteImg1,#whiteImg4,#whiteImg7{
    background-image: url('/boot3/public2/image/end/push_on.png');
}
#whiteImg2,#whiteImg5,#whiteImg8{
    background-image: url('/boot3/public2/image/end/sale_alim.png');
}
#whiteImg3,#whiteImg6,#whiteImg9{
    background-image: url('/boot3/public2/image/end/coupon.png');
}

#sec3_Box1,#sec3_Box4,#sec3_Box7{
    .white_box{
        p{
            padding: 0 27% 10%;
        }
    }
}
#sec3_Box2,#sec3_Box5,#sec3_Box8{
    .white_box{
        p{
            padding: 0 24% 10%;
        }
    }
}
#sec3_Box3,#sec3_Box6,#sec3_Box9{
    .white_box{
        p{
            padding: 0 0 10%;
        }
    }
}